{% extends 'base.html' %} 

{% block title %} Bookstore - Books {% endblock%} 


{% block nav_title %}
Programming Books
{% endblock nav_title %}
  

{% block content %}
    <div class="grid grid-cols-4 gap-4">
        {% for book in book_list %}
        <a href="/book/{{book.id}}" class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img src="{{ book.image.url }}" width="200">
            </div>
            <h3>{{ book.title }}</h3>
        </a>
        {%  endfor %}
    </div>
{% endblock %}



